@model Project.Models.Complaint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Complaint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationComplaint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationComplaint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionComplaint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionComplaint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
